<div class="well well-md col-md-10 col-md-offset-1">

<h3>Welcome, <%= @user.name %>!</h3>

<%= link_to "Rate A Movie!", movies_path %>


<h4>My reviews</h4>
<% @movies.each do |movie| %>
  <p><%= movie.name %>: <%= @user.my_score(movie) %></p>
<% end %>

</div>