<div class="well well-md col-md-10 col-md-offset-1">

<h3>Welcome, <%= @user.name %>!</h3>

<%= link_to "Rate A Movie!", movies_path, class: "col-md-3" %>

<%= link_to "My Reviews", user_reviews_path(@user), class: "col-md-3" %>

<%= link_to "Stats", user_stats_path(@user), class: "col-md-3" %>
</div>