<div class="well well-md col-md-8 col-md-offset-2">
  <h1>Who is Vincent?</h1>

  <h3>Vincent is your personal movie critic. Some say he knows you better than you know yourself.</h3>

  <p>Vincent has GREAT taste in movies. Some say he's an "art-house goon," and this site is not for them. They should click over to <a href="http://seinfeld.wikia.com/wiki/The_Comeback">Gene's Picks</a>. Vincent is a 15 year old boy who loves vodka, cigarettes, fireworks.</p>

  <p>Here's what some of our user's say:</p>

  <p><i>If it wasn't for Vincent, I never would have seen</i> The Pain and the Yearning. <i>Oh, bravo, Vincent. Bravo.</i> - Elaine</p>

  <p>So start rating some movies! The better Vincent gets to know you, the better his recommendations become!</p>
</div>


<div class="well well-md col-md-4 col-md-offset-4 text-center">
  <%= image_tag "https://samepageteam.files.wordpress.com/2014/04/seinfeld_dannystrong01.jpg" %>
  <p>Vincent hasn't been seen in public, since this picture was taken in <strike>Season 8</strike> the late '90s</p>
</div>

