<div class="well well-md col-md-10 col-md-offset-1">
<h2>Who is Vincent?</h2>

<p>Vincent has GREAT taste in movies. Some say he's an "art-house goon," and this site is not for them. They should click over to <a href="http://seinfeld.wikia.com/wiki/The_Comeback">Gene's Picks</a>. Vincent is a 15 year old boy who loves vodka, cigarettes, fireworks.</p>

<p>Here's what some of our user's say:</p>

<p><i>If it wasn't for Vincent, I never would have seen</i> The Pain and the Yearning. <i>Oh, bravo, Vincent. Bravo.</i> - Elaine</p>

<p>So start rating some movies! The better Vincent gets to know you, the better his recommendations become!</p>

</div>